<div class="flex-caption">
    <h3>{{ textSlider.principalText }}</h3>
    <p> {{ textSlider.secondarText }}</p>
    <a href="#main" class="btn btn-main btn-primary btn-lg uppercase" ><span>Voir offres</span></a> </div>