<div class="footer_widgets_wrapper" id="contact">
    <div class="container">
        <div class="widgets cols_4 clearfix">
            <aside id="stm_text-2" class="widget stm_wp_widget_text">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Motors Dealership</h6></div>
                    <div class="textwidget">As the leading dealer in Chicago, IL, we are confident that we will
                        save you time and money. Motors is ultimate Car Dealer, Automotive, Auto Dealer
                        WordPress theme.
                    </div>


                </div>
            </aside>
            <aside id="text-6" class="widget widget_text">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Photo Gallery</h6></div>
                    <div class="textwidget">
                        <div id="sb_instagram" class="sbi sbi_col_4" style="width:100%; padding-bottom: 8px; "
                             data-id="1498526473" data-num="4" data-res="auto" data-cols="4"
                             data-options='{&quot;sortby&quot;: &quot;none&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;4&quot;}'>
                            <div id="sbi_images" style="padding: 4px;">
                                <div class="sbi_loader fa-spin"></div>
                            </div>
                            <div id="sbi_load"></div>
                        </div>
                        <script></script>
                    </div>
                </div>
            </aside>
            <aside id="stm-recent-posts-2" class="widget stm_widget_recent_entries">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Latest Blog posts</h6></div>
                    <div class="stm-last-post-widget">
                        The Tesla Model S isn’t the first truly autonomous car on the road...
                        <div class="comments-number">
                            <a href="http://motors.stylemixthemes.com/motors/1359"><i
                                        class="stm-icon-message"></i>No comments</a>
                        </div>
                    </div>
                </div>
            </aside>
            <aside id="socials-2" class="widget widget_socials">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Social Network</h6></div>
                    <div class="socials_widget_wrapper">
                        <ul class="widget_socials list-unstyled clearfix">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/play" target="_blank">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </aside>
            <aside id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Subscribe</h6></div>
                    <script></script>
                    <!-- MailChimp for WordPress v4.0.10 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1470 mc4wp-form-basic" method="post"
                          data-id="1470" data-name="Default sign-up form">
                        <div class="mc4wp-form-fields">
                            <div class="stm-mc-unit"><input type="email" name="EMAIL"
                                                            placeholder="Enter your email..." required/><input
                                        type="submit" value="Sign up"/></div>
                            <div class="stm-mc-label">Get latest updates and offers.</div>
                            <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value=""
                                                               tabindex="-1" autocomplete="off"/></div>
                            <input type="hidden" name="_mc4wp_timestamp" value="1500271868"/><input
                                    type="hidden" name="_mc4wp_form_id" value="1470"/><input type="hidden"
                                                                                             name="_mc4wp_form_element_id"
                                                                                             value="mc4wp-form-1"/>
                        </div>
                        <div class="mc4wp-response"></div>
                    </form><!-- / MailChimp for WordPress Plugin --></div>
            </aside>
            <aside id="text-3" class="widget widget_text">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Sales Hours</h6></div>
                    <div class="textwidget"><span class="date">Monday - Friday:</span> 09:00AM - 09:00PM<br/>
                        <span class="date">Saturday:</span> 09:00AM - 07:00PM<br/>
                        <span class="date">Sunday:</span> Closed
                    </div>
                </div>
            </aside>
            <aside id="text-4" class="widget widget_text">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Service Hours</h6></div>
                    <div class="textwidget"><span class="date">Monday - Friday:</span> 09:00AM - 09:00PM<br/>
                        <span class="date">Saturday:</span> 09:00AM - 07:00PM<br/>
                        <span class="date">Sunday:</span> Closed
                    </div>
                </div>
            </aside>
            <aside id="text-5" class="widget widget_text">
                <div class="widget-wrapper">
                    <div class="widget-title"><h6>Parts Hours</h6></div>
                    <div class="textwidget"><span class="date">Monday - Friday:</span> 09:00AM - 09:00PM<br/>
                        <span class="date">Saturday:</span> 09:00AM - 07:00PM<br/>
                        <span class="date">Sunday:</span> Closed
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>