<div data-vc-full-width="true" data-vc-full-width-init="false"
     class="vc_row wpb_row vc_row-fluid vc_custom_1448532088457 section-full-width">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="special-offers">
                    <div class="title heading-font">
                        SPECIALS
                        <a href="http://motors.stylemixthemes.com/inventory?featured_top=true"
                           class="all-offers">
                            <i class="stm-icon-label-reverse"></i>
                            <span class="vt-top">all</span>
                            <span class="lt-blue">specials</span>
                        </a>

                        <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#Modal_editer_offres"><i class="fa fa-cog"></i> Editer</button>

                    </div>
                    <div class="colored-separator">
                        <div class="first-long stm-base-background-color"></div>
                        <div class="last-short stm-base-background-color"></div>
                    </div>

                    <div class="listing-car-items-units">
                        <div class="listing-car-items listing-cars-carousel owl-carousel text-center clearfix special-carousel-75444">
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/bmw-328i-perfect-condition"
                                           class="rmv_txt_drctn"
                                           title="Watch full information about BMW 328i, Sport Line Body Kit">
                                            <div class="text-center">
                                                <div class="image dp-in">
                                                    <img src="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/1_3-350x205.jpg"
                                                         data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/1_3-798x466.jpg"
                                                         class="img-responsive"
                                                         alt="BMW 328i, Sport Line Body Kit">
                                                </div>
                                            </div>
                                            <div class="listing-car-item-meta">
                                                <div class="car-meta-top heading-font clearfix">
                                                    <div class="price discounted-price">
                                                        <div class="regular-price">
                                                            $35 000
                                                        </div>
                                                        <div class="sale-price">
                                                            $28 000
                                                        </div>
                                                    </div>
                                                    <div class="car-title">
                                                        BMW 328i, Sport Line Body Kit
                                                    </div>
                                                </div>
                                                <div class="car-meta-bottom">
                                                    <ul>
                                                        <li>
                                                            <div class="special-text">Deal available until
                                                                February, 22
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/hyudai-veloster-turbo-sport-perfect-condition">
                                            <img class="img-responsive"
                                                 src="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/hyndai_veloster-350x356.jpg"
                                                 data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/hyndai_veloster.jpg"
                                                 alt="Hyundai Veloster Turbo Sport"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/ford-explorer-2015-4wd"
                                           class="rmv_txt_drctn"
                                           title="Watch full information about Ford Explorer 2015 4WD">
                                            <div class="text-center">
                                                <div class="image dp-in">
                                                    <img src="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/17-350x205.jpg"
                                                         data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/17-798x466.jpg"
                                                         class="img-responsive"
                                                         alt="Ford Explorer 2015 4WD">
                                                </div>
                                            </div>
                                            <div class="listing-car-item-meta">
                                                <div class="car-meta-top heading-font clearfix">
                                                    <div class="price discounted-price">
                                                        <div class="regular-price">
                                                            $65 000
                                                        </div>
                                                        <div class="sale-price">
                                                            $58 000
                                                        </div>
                                                    </div>
                                                    <div class="car-title">
                                                        Ford Explorer 2015 4WD
                                                    </div>
                                                </div>
                                                <div class="car-meta-bottom">
                                                    <ul>
                                                        <li>

                                                            <span>65000</span>
                                                        </li>
                                                        <li>
                                                            <i class="stm-icon-fuel"></i>

                                                            <span>65/56</span>
                                                        </li>
                                                        <li>
                                                            <i class="stm-icon-transmission_fill"></i>


                                                            <span>Automatic</span>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/chevrolet-malibu-2016-lt"
                                           class="rmv_txt_drctn"
                                           title="Watch full information about Chevrolet Malibu 2016 LT">
                                            <div class="text-center">
                                                <div class="image dp-in">
                                                    <img src="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/13-350x205.jpg"
                                                         data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/13-798x466.jpg"
                                                         class="img-responsive"
                                                         alt="Chevrolet Malibu 2016 LT">
                                                </div>
                                            </div>
                                            <div class="listing-car-item-meta">
                                                <div class="car-meta-top heading-font clearfix">
                                                    <div class="price discounted-price">
                                                        <div class="regular-price">
                                                            $29 510
                                                        </div>
                                                        <div class="sale-price">
                                                            $27 000
                                                        </div>
                                                    </div>
                                                    <div class="car-title">
                                                        Chevrolet Malibu 2016 LT
                                                    </div>
                                                </div>
                                                <div class="car-meta-bottom">
                                                    <ul>
                                                        <li>
                                                            <div class="special-text">Limited Offer: Only 3
                                                                Cars left
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/chevrolet-cruze-2016-lx-leather-sunroof">
                                            <img class="img-responsive"
                                                 src="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/cruze2x-350x356.jpg"
                                                 data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/12/cruze2x.jpg"
                                                 alt="Chevrolet Cruze 2016 LX, LEATHER, SUNROOF"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/impala-super-sport-series-67-six-cyl"
                                           class="rmv_txt_drctn"
                                           title="Watch full information about Nissan Altima 2.5 SL, LEATHER, SUNROOF">
                                            <div class="text-center">
                                                <div class="image dp-in">
                                                    <img src="http://motors.stylemixthemes.com/wp-content/uploads/2015/11/nissan_altima_1-350x205.jpeg"
                                                         data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/11/nissan_altima_1-798x466.jpeg"
                                                         class="img-responsive"
                                                         alt="Nissan Altima 2.5 SL, LEATHER, SUNROOF">
                                                </div>
                                            </div>
                                            <div class="listing-car-item-meta">
                                                <div class="car-meta-top heading-font clearfix">
                                                    <div class="price discounted-price">
                                                        <div class="regular-price">
                                                            $25 000
                                                        </div>
                                                        <div class="sale-price">
                                                            $18 000
                                                        </div>
                                                    </div>
                                                    <div class="car-title">
                                                        Nissan Altima 2.5 SL, LEATHER, SUNR ...
                                                    </div>
                                                </div>
                                                <div class="car-meta-bottom">
                                                    <ul>
                                                        <li>
                                                            <div class="special-text">Limited Offer: Only 5
                                                                Cars Left
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-in">
                                <div class="listing-car-item">
                                    <div class="listing-car-item-inner">
                                        <a href="http://motors.stylemixthemes.com/listings/2016-mercedes-benz-c-class-c300-4matic"
                                           class="rmv_txt_drctn"
                                           title="Watch full information about 2016 Mercedes-Benz C-Class C300 4MATIC">
                                            <div class="text-center">
                                                <div class="image dp-in">
                                                    <img src="http://motors.stylemixthemes.com/wp-content/uploads/2015/10/motor-1-350x205.jpg"
                                                         data-retina="http://motors.stylemixthemes.com/wp-content/uploads/2015/10/motor-1.jpg"
                                                         class="img-responsive"
                                                         alt="2016 Mercedes-Benz C-Class C300 4MATIC">
                                                </div>
                                            </div>
                                            <div class="listing-car-item-meta">
                                                <div class="car-meta-top heading-font clearfix">
                                                    <div class="price discounted-price">
                                                        <div class="regular-price">
                                                            $39 600
                                                        </div>
                                                        <div class="sale-price">
                                                            $35 000
                                                        </div>
                                                    </div>
                                                    <div class="car-title">
                                                        2016 Mercedes-Benz C-Class C300 4MA ...
                                                    </div>
                                                </div>
                                                <div class="car-meta-bottom">
                                                    <ul>
                                                        <li>

                                                            <span>39600</span>
                                                        </li>
                                                        <li>
                                                            <i class="stm-icon-fuel"></i>

                                                            <span>18/26</span>
                                                        </li>
                                                        <li>
                                                            <i class="stm-icon-transmission_fill"></i>


                                                            <span>Automatic</span>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <script></script>
            </div>
        </div>
    </div>
</div>