<section class="pricing padding-120" style="    margin-top: 66px;">
    <div class="container">
        <div class="section-header">
            <h3>Our Pricing Plan</h3>
            <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize
                pandemic strategic themeplatform.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="title">
                        <h3>Weekly <span><sup>$</sup>24</span></h3>
                    </div>
                    <div class="content">
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> Free Access</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 2 GB Storage</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 20 GB Bandwith</p>
                        <p><i class="fa fa-times-circle close" aria-hidden="true"></i> 5 Products</p>
                        <p><i class="fa fa-times-circle close" aria-hidden="true"></i> 7 Users Accounts</p>
                        <p><i class="fa fa-times-circle close" aria-hidden="true"></i> 24/7 Support</p>
                    </div>
                    <div class="bottom">
                        <a href="#" class="button-default">Purchase Now</a>
                    </div>
                </div><!-- pricing item -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="title">
                        <h3>Monthly <span><sup>$</sup>49</span></h3>
                    </div>
                    <div class="content">
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> Free Access</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 2 GB Storage</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 20 GB Bandwith</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 5 Products</p>
                        <p><i class="fa fa-times-circle close" aria-hidden="true"></i> 7 Users Accounts</p>
                        <p><i class="fa fa-times-circle close" aria-hidden="true"></i> 24/7 Support</p>
                    </div>
                    <div class="bottom">
                        <a href="#" class="button-default">Purchase Now</a>
                    </div>
                </div><!-- pricing item -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="title">
                        <h3>Yearly <span><sup>$</sup>99</span></h3>
                    </div>
                    <div class="content">
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> Free Access</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 2 GB Storage</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 20 GB Bandwith</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 5 Products</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 7 Users Accounts</p>
                        <p><i class="fa fa-check-circle" aria-hidden="true"></i> 24/7 Support</p>
                    </div>
                    <div class="bottom">
                        <a href="#" class="button-default">Purchase Now</a>
                    </div>
                </div><!-- pricing item -->
            </div>
        </div><!-- row -->

    </div><!-- container -->
</section>