<section class="subscribe">
    <div class="container">
        <div class="row">
            {#<div class="col-md-12 col-sm-12 col-xs-12">#}
                {#<h3>Join Our Newsletter</h3>#}
            {#</div>#}

                <form class="contact-form">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="text" name="name" placeholder="Nom & prénom" class="contact-input" style="width: 100%">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="text" name="name" placeholder=" Téléphone" class="contact-input" style="width: 100%">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="email" name="email" placeholder=" Email" class="contact-input" style="width: 100%">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" >
                    <textarea rows="5" class="contact-input" style="width: 100%">Ecrire un message</textarea>
                    </div>
                    <input type="submit" name="submit" value="Envoyer" class="contact-button">
                </form>

        </div><!-- row -->
    </div><!-- container -->
</section><!-- subscribe -->

<style>

    /*.subscribe form input:first-child {*/
          /*border: 2px solid rgba(255,255,255,.5);*/
          /*padding: 16px 20px;*/
          /*!* background-color: #ffb400; *!*/
          /*color: #fff;*/
          /*border-radius: 2px;*/
          /*width: 68%;*/
          /*float: left;*/
      /*}*/
    .subscribe form input:last-child {
        background-color: #fff;
        /* color: #ffb400; */
        font-size: 16px;
        font-weight: 700;
        padding: 20px 40px;
        /* margin-left: 5px; */
    }
</style>