{% set connected = false %}
{% if app.user %}
    {% if app.user.id == qouiqui.user.id %}
        {% set connected = true %}
    {% endif %}
{% endif %}

<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <h1 class="logo-text">{{ qouiqui.firstName }}</h1>
                                </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="top-nav">
                                    <li><a href="#hero-area">Accueil</a></li>
                                    <li><a href="#about-us">A propos</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#price">Menu</a></li>
                                    <li><a href="#contact-us">Contactez-nous</a></li>

                                    {% if connected %}
                                        <li><a href="{{ path('fos_user_security_logout') }}">Deconnectez</a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_logout') }}">S'authentifier</a></li>
                                    {% endif %}
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav>