<option value="Thalasso & spa">Thalasso & spa</option>
<option value="Congrès et mariage">Congrès et mariage</option>
<option value="Voyage de noce">Voyage de noce</option>
<option value="Transferts">Transferts</option>
<option value="Football">Football</option>
<option value="Golf">Golf</option>
<option value="Seniors">Seniors</option>
<option value="Excursions">Excursions</option>
<option value="Stationnement">Stationnement</option>
<option value="Lobby bar">Lobby bar</option>
<option value="Restaurant Fiesta">Restaurant Fiesta</option>
<option value="Service de change">Service de change</option>
<option value="lavage et de repassage">lavage et de repassage</option>
<option value="Distribution de courrier">Distribution de courrier</option>
<option value="Chauffeur privé">Chauffeur privé</option>