<!-- start prefooter-->

<div id="prefooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 wow">
                <div class="prefooter-heading">
                    <h1>recent listings</h1>
                </div>
                <div id="prefooter-list-image">
                    <div class="prefooter-detail">
                        <div class="col-sm-4 col-xs-4 nopadding-left">
                            <div class="prefooter-detail-image">
                                <img src="{{ asset('asset-front/images/prefooter-img1.png') }}" alt="prefooter img1">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8 nopadding-left">
                            <div class="prefooter-detail-text">
                                <a href="listings-detail.html"><h1>Car Audio Set Sale</h1></a>
                                <p>Price: $210</p>
                                <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="prefooter-detail">
                        <div class="col-sm-4 col-xs-4 nopadding-left">
                            <div class="prefooter-detail-image">
                                <img src="{{ asset('asset-front/images/prefooter-img2.png') }}" alt="prefooter img2">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8 nopadding-left">
                            <div class="prefooter-detail-text">
                                <a href="listings-detail.html"><h1>Complete Kitchen Sale</h1></a>
                                <p>Price: $20k</p>
                                <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="prefooter-detail">
                        <div class="col-sm-4 col-xs-4 nopadding-left">
                            <div class="prefooter-detail-image">
                                <img src="{{ asset('asset-front/images/prefooter-img3.png') }}" alt="prefooter img3">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8 nopadding-left">
                            <div class="prefooter-detail-text">
                                <a href="listings-detail.html"><h1>Women Shoes Collection</h1></a>
                                <p>Price: $30</p>
                                <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="prefooter-heading">
                    <h1>feature categories</h1>
                </div>
                <div id="prefooter-list-categories">
                    <ul>
                        <li><span>12</span><a href="#">Automotive</a></li>
                        <li><span>07</span><a href="#">Educational</a></li>
                        <li><span>44</span><a href="#">Foods</a></li>
                        <li><span>27</span><a href="#">Jobs</a></li>
                        <li><span>13</span><a href="#">Movies</a></li>
                        <li><span>46</span><a href="#">Property</a></li>
                        <li><span>89</span><a href="#">Shopping</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="prefooter-heading">
                    <h1>contact info</h1>
                </div>
                <div id="prefooter-contact-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="contact-info">
                    <div class="col-sm-1 col-xs-2 nopadding">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <div class="contact-text">
                            <h1>142 North Park Avenue</h1>
                            <p>New York, USA.</p>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="col-sm-1 col-xs-2 nopadding">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <div class="contact-text">
                            <h1><a href="#">+0432 987 65432</a></h1>
                            <p><a href="#">support@sitename.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="col-sm-1 col-xs-2 nopadding">
                        <div class="contact-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <div class="contact-text">
                            <h1>Monday - Friday</h1>
                            <p>9:00 am - 5:00 pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="prefooter-heading">
                    <h1>tags</h1>
                </div>
                <div id="prefooter-tags">
                    <a href="#" class="hvr-sweep-to-bottom">automotive</a>
                    <a href="#" class="hvr-sweep-to-bottom">jobs</a>
                    <a href="#" class="hvr-sweep-to-bottom">movies</a>
                    <a href="#" class="hvr-sweep-to-bottom">food</a>
                    <a href="#" class="hvr-sweep-to-bottom">property</a>
                    <a href="#" class="hvr-sweep-to-bottom">shopping</a>
                    <a href="#" class="hvr-sweep-to-bottom">education</a>
                    <a href="#" class="hvr-sweep-to-bottom">photography</a>
                </div>
                <div class="prefooter-heading">
                    <h1>follow us</h1>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/" class="hvr-sweep-to-top">
                        <i class="fa fa-facebook"></i>

                    </a>
                    <a href="https://www.twitter.com/" class="hvr-sweep-to-top">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://plus.google.com/" class="hvr-sweep-to-top">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="https://www.linkedin.com/" class="hvr-sweep-to-top">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end prefooter-->

<!-- start footer-->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="footer-text">
                    <p>All copyrights reserved @ 2017 - Design & Development by <a href="#">webmaster-media.tn</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer-->