{% extends 'front.html.twig' %}
{% block body %}

    <div class="archive tax-features term-accessories term-233 wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive" data-submitlink="http://studio.listingprowp.com/submit-listing/">


        <div id="page" class="clearfix" data-mtoken="pk.eyJ1IjoiY3JpZGhlbHAiLCJhIjoiY2o0dHNoMnc3MGFnejMzazA0ZzE2Ym5mMCJ9.Lg2w2xGoU5ZsXXMDkvcT2A" data-mstyle="mapbox.streets-basic" data-sitelogo="http://studio.listingprowp.com/wp-content/themes/listingpro/assets/images/logo.png" data-site-url="http://studio.listingprowp.com/" data-ipapi="geo_ip_db">

            <!--==================================Header Open=================================-->
            <div class="pos-relative">
                <div class="header-container  ">


                    <!--================================full width with blue background====================================-->
                    <!--================================full width with blue background====================================-->
                    {{ include('@User/template/header.html.twig') }}
                    <!--==================================Header Close=================================-->

                    <!-- Listing Detail Popup -->

                    <!-- dynamic invoice -->
                    <div class="modal fade lp-modal-list" id="modal-invoice">
                        <div class="modal-content">

                            <div class="modal-body">
                                Le contenu est en cours de chargement...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                <a href="#" class="lp-print-list btn-first-hover">Imprimer</a>
                            </div>
                        </div>
                    </div>
                    <!-- dynamic invoice -->


                    <!-- Modal Packages -->
                    <div class="modal fade" id="modal-packages" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Change Pricing Plan</h4>
                                        <p>We recommend you to check details of Pricing Plans before changing. <a href="http://studio.listingprowp.com/pricing-plan/" target="_blank">Click Here</a>
                                        </p>
                                    </div>
                                    <form name="select-plan-form" id="select-plan-form" method="post" class="select-plan-form"><label class="plan-options">
                                            <div class="radio radio-danger"><input id="479" type="radio" name="plans-posts" value="479"><label for="479"></label></div>
                                            Basic</label><label class="plan-options">
                                            <div class="radio radio-danger"><input id="478" type="radio" name="plans-posts" value="478"><label for="478"></label></div>
                                            Professional</label><input type="hidden" value="" name="listing-id" id="listing_id"><input type="submit" class="btn btn-default" value="Change" name="submit"></form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12 text-left">
                                            <div class="lp-expire-update-status"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 text-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="md-overlay"></div> <!-- Overlay for Popup -->        </div>
                <!--==================================Header Close=================================-->

                <!--================================== Search Close =================================-->

                <!--================================== Search Close =================================-->
            </div>


            <!--==================================Section Open=================================-->
            <section class="page-container clearfix section-fixed listing-with-map pos-relative taxonomy" id="features">
                {#<div class="sidemap-container pull-right sidemap-fixed">#}
                {#<div class="map-pop map-container3" id="map-section">#}
                {#<div id='map' class="mapSidebar"></div>#}
                {#</div>#}
                {#<a href="#" class="open-img-view"><i class="fa fa-file-image-o"></i></a>#}
                {#</div>#}


                <div class="all-list-map"></div>
                <div class=" container">
                    <div class="post-with-map-container pull-left">
                        <div class="margin-bottom-20 margin-top-30">
                            <div class="row listing-style-3">
                                <div class="col-md-12 search-row margin-top-subtract-35">
                                    <form autocomplete="off" class="clearfix" method="post" enctype="multipart/form-data" id="searchform">
                                        <div class="filter-top-section pos-relative row">
                                            <div class="lp-title col-md-10 col-sm-10">
                                                <h3>Résultats pour <span class="font-bold term-name">[QUOI/QUI]</span></h3>
                                            </div>
                                            <div class="pull-right margin-right-0 col-md-2 col-sm-2 clearfix">
                                                <div class="listing-view-layout">
                                                    <ul>
                                                        <li><a class="grid active" href="#"><i class="fa fa-th-large"></i></a></li>
                                                        <li><a class="list " href="#"><i class="fa fa-list-ul"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline lp-filter-inner">
                                            <a id="see_filter">Voir les filtres</a>
                                            <div class="more-filter" id="more_filters">
                                                <div class="form-group">
                                                    <div class="currency-signs search-filter-attr">
                                                        <ul>
                                                            <li class="simptip-position-top simptip-movable" data-tooltip="Peu coûteux" id="one"><a href="#" data-price="inexpensive">$</a></li>
                                                            <li class="simptip-position-top simptip-movable" data-tooltip="Modérer" id="two"><a href="#" data-price="moderate">$$</a></li>
                                                            <li class="simptip-position-top simptip-movable" data-tooltip="Cher" id="three"><a href="#" data-price="pricey">$$$</a></li>
                                                            <li class="simptip-position-top simptip-movable" data-tooltip="Ultra High End" id="four"><a href="#" data-price="ultra_high_end">$$$$</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="search-filters form-group">
                                                    <ul>
                                                        <li id="listing_openTime"><a href="#" data-value="close"><i class="fa fa-clock-o"></i>Ouvert </a></li>
                                                    </ul>
                                                </div>
                                                <div class="search-filters form-group">
                                                    <ul class="search-filter-attr">

                                                        <li id="listingRate"><a href="#" data-value='listing_rate'><i class="fa fa-star-o"></i>Mieux notés</a></li>

                                                        <li id="listingReviewed"><a href="#" data-value='listing_reviewed'><i class="fa fa-file-text-o"></i>Plus commentés</a></li>

                                                    </ul>
                                                </div>

                                                <div class="form-group pull-right margin-right-0">
                                                    <div class="input-group border-dropdown">
                                                        <div class="input-group-addon lp-border"><i class="fa fa-list"></i></div>
                                                        <select class="comboboxCategory chosen-select2 tag-select-four" name="searchcategory" id="searchcategory">
                                                            <option value="">Toutes catégories</option>
                                                            <option value="76">Arts &amp; Entertainment</option>
                                                            <option value="33">Automotive</option>
                                                            <option value="74">Beauty &amp; Spa</option>
                                                            <option value="77">Health &amp; Medical</option>
                                                            <option value="75">Hotels</option>
                                                            <option value="56">Real Estate</option>
                                                            <option value="58">Restaurant</option>
                                                            <option class="sub_cat" value="133">-&nbsp;&nbsp;American</option>
                                                            <option class="sub_cat" value="134">-&nbsp;&nbsp;Chinese</option>
                                                            <option class="sub_cat" value="135">-&nbsp;&nbsp;Indian</option>
                                                            <option class="sub_cat" value="136">-&nbsp;&nbsp;Japanese</option>
                                                            <option class="sub_cat" value="137">-&nbsp;&nbsp;Italian</option>
                                                            <option value="78">Services</option>
                                                            <option value="103">Shopping</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="open-map-view"><i class="fa fa-map-o"></i></a>
                                        </div>
                                        <input type="hidden" name="lp_search_loc" id="lp_search_loc" value=""/>


                                        <input type="submit" style="display:none;">
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="LPtagsContainer "></div>
                                </div>
                            </div>
                        </div>
                        <div class="content-grids-wraps">
                            <div class="clearfix lp-list-page-grid" id="content-grids">

                                <div class="promoted-listings">
                                    <div class="md-overlay"></div>
                                </div>


                                {#============================================================= START POST ==========================================================#}
                                {% include ('@User/default/search-results.html.twig') %}
                                {#============================================================= END POST ==========================================================#}


                                <div class="md-overlay"></div>
                            </div>
                        </div>

                        <div id="lp-pages-in-cats"></div>
                        <div class="lp-pagination pagination lp-filter-pagination-ajx">


                        </div>
                    </div>
                </div>

            </section>

        </div>


    </div>



    <style>
        .search-footer {
            width: 100%;
            bottom: 0;
            z-index: -1;
        }

        #page {
            background-color: transparent;
        }

        body {
            background: url({{ asset('tpl/images/bgWeen.png') }});
            height: 100%;
        }

        .post-with-map-container.pull-left {
            background: white;
            border-radius: 0 0 30px 30px;
            border: 1px solid #ffc107;
            box-shadow: -3px 4px 50px rgba(255, 193, 7, 0.44);
        }
    </style>


{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            var yOffset;
            jQuery(window).scroll(function () {
                yOffset = jQuery(window).scrollTop() * 0.2;
                jQuery("body").css('background-position', '0px ' + -yOffset + 'px');
            })
        })
    </script>
{% endblock %}