{% extends 'base.html.twig' %}

{% block body %}
    <h1>Qouiqui creation</h1>





    <form action="" method="POST">
        <input name="q[nom]"></input>
        <input name="q[prenom]"></input>

        <input name="aa[nom]"></input>
        <input name="aa[prenom]"></input>
        <input type="submit" value="save">
    </form>




{% endblock %}
