<style>
    th {
        background: rgba(255, 0, 0, .7);
        color: white;
    }

    input[type="search"] {
        height: 35px;
        border-radius: 5px;
        border: 1px solid #e3e3e3;
        margin-bottom: 10px;
        padding: 10px;
    }

    select {
        height: 35px;
        border-radius: 5px;
        border: 1px solid #e3e3e3;
        margin-bottom: 10px;
        padding: 8px;
    }

    table.dataTable.no-footer {
        border: none;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        border: none;
        padding: 8px 10px;
    }

    col-space {
        padding: 5px;
    }
</style>
<script type="text/javascript" src="https://cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
    CKEDITOR.replaceClass = 'ckeditor';
    $(".icon-style-supprimer").click(function () {
        lien = $(this).data('lien');
        id = $(this).data('id');
        pos = $(this).data('pos');
        var id = $(this).data('loop');
        $('.nomSpan').text($(this).data('nom'));
        $(".confirm-del").click(function () {
            $.ajax({
                url: lien,
                method: 'post',
                success: function (data) {
                    $('#del-service').modal('hide');
                    $('#service-table tr[data-serv="' + id + '"]').fadeOut();
                }
            });
        });
    });

    //supprimer produit
    $(".icon-annonce-supprimer").click(function () {
        var lien = $(this).data('lien');
        var id = $(this).data('loop');
        $.confirm({
            title: '<div style="color: cadetblue"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm de suppression</div>',
            content: '',
            buttons: {
                Confirmer: function () {
                    supprimProduit(lien, id);
                },
                Annuler: function () {
                }
            }
        });

    });

    function supprimProduit(lien, id) {
        $.ajax({
            url: lien,
            method: 'post',
            success: function () {
                $('#service-tables tr[data-prod="' + id + '"]').fadeOut();
                $('.owl-carousel div[data-prod="' + id + '"]').hide();
            }
        });
    }

    $('.icon-style-modifier').click(function () {
        lien = $(this).data('lien');
        id = $(this).data('id');
        pos = $(this).data('pos');
        $.ajax({
            url: lien,
            method: 'post',
            success: function (data) {
                var service = JSON.parse(data);
                $('.modal-service-updatee').text(service.title);
                $('.modif-description').val(service.description);
                $('.modif-title').val(service.title);
                $('.modal-service-update').text(service.title);
                $('.id').val(id);
                $('.position').val(pos);
            }
        });
    });

    $('.detail-service-show').click(function () {
        lien = $(this).data('lien');
        lien2 = $(this).data('mod');
        lien3 = $(this).data('sup');
        id = $(this).data('id');
        idItem =$(this).data('services');
        pos = $(this).data('pos');
        $.ajax({
            url: lien,
            method: 'post',
            success: function (data) {
                var service = JSON.parse(data);
                $('.modal-service-detail').text(service.title);
                $('.detail-service-desc').text(service.description);
            },
            error: function (data) {
                console.log(data);
            }

        });
        $('.service-modifier-1').click(function () {
            $.ajax({
                url: lien2,
                method: 'post',
                success: function (data) {
                    var service = JSON.parse(data);
                    $('.modal-service-updatee').text(service.title);
                    $('.modif-description').val(service.description);
                    $('.modif-title').val(service.title);
                    $('.modal-service-update').text(service.title);
                    $('.id').val(id);
                    $('.position').val(pos);
                }
            });
        });

        $('.service-supprimer-1').click(function () {
            $(".confirm-del").click(function () {
                $.ajax({
                    url: lien3,
                    method: 'post',
                    success: function () {
                        $('#del-service').modal('hide');
                        $('#showService').modal('hide');
                        $('.service-item[data-service="'+idItem+'"]').fadeOut();
                    }
                })
            });
        });
    });


    $('.edit-annonce').click(function () {
        lien = $(this).data('lien');
        id = $(this).data('id');
        $('.nomProduit').text($(this).data('nom'));
        CKEDITOR.instances['editeur'].setData('');
        $.ajax({
            url: lien,
            method: 'post',
            success: function (data) {
                var produit = JSON.parse(data);
                console.log(produit);
                $('.form-annonce-nom').val(produit.nom);
                $('.form-annonce-prix').val(produit.prix);
                $('.form-annonce-marque').val(produit.marque);
                $('.form-annonce-stock').val(produit.stock);
                $('.categorie').val(produit.categorie);
                $('.sousCategorie').val(produit.sousCategorie)
                CKEDITOR.instances['editeur'].setData(produit.data);
                $('.form-annonce-image').attr('src', produit.photo);
                $('.id').val(produit.id);
            }
        });
    });


    $('.show-detail-annonce').click(function () {
        lien = $(this).data('lien');
        lien2 = $(this).data('mod');
        lien3 = $(this).data('sup');
        id = $(this).data('identifiant');
        idItem = $(this).data('podui');
        item="";
        pic="";
        $.ajax({
            url: lien,
            method: 'post',
            success: function (data) {
                var produit = JSON.parse(data);
                console.log(produit);
                $('.detail-annonce-title,.detail-annonce-nom').text(produit.nom);
                $('.detail-annonce-description').text(produit.data);
                $('.detail-annonce-prix').text(produit.prix);
                $('.detail-annonce-marque').text(produit.marque);
                $('.detail-annonce-stock').text(produit.stock);
                $('.detail-annonce-status').text(produit.status);
                for (p = 0; p < produit.photo.length; p++) {
                    if(p==0) {
                        item += '<li data-target="#myCarousel" data-slide-to="' + p + '" class="active"></li>';
                        pic+='<div class="item active"><img src="'+produit.photo[p]+'" alt="'+p+'" style="width:100%;"></div>';
                    }else{
                        item += '<li data-target="#myCarousel" data-slide-to="' + p + '"></li>';
                        pic+='<div class="item"><img src="'+produit.photo[p]+'" alt="'+p+'" style="width:100%;"></div>';
                    }
                }
                console.log(pic);
                $('.carousel-indicators').html(item);
                $('.carousel-inner').html(pic);
            }
        });

        $('.annonce-modifier-1').click(function () {
            $('.nomProduit').text($(this).data('nom'));
            CKEDITOR.instances['editeur'].setData('');
            $.ajax({
                url: lien2,
                method: 'post',
                success: function (data) {
                    var produit = JSON.parse(data);
                    $('.form-annonce-nom').val(produit.nom);
                    $('.form-annonce-prix').val(produit.prix);
                    $('.form-annonce-marque').val(produit.marque);
                    $('.form-annonce-stock').val(produit.stock);
                    CKEDITOR.instances['editeur'].setData(produit.data);
                    $('.form-annonce-image').attr('src', produit.photo);
                    console.log(produit.photo);
                    $('.id').val(id);
                }
            });
        });

        $('.annonce-supprimer-1').click(function() {
            $(".confirm-del-annonce").click(function () {
                $.ajax({
                    url: lien3,
                    method: 'post',
                    success: function (data) {
                        $('#del-annonce').modal('hide');
                        $('#showAnnonce').modal('hide');
                        $('.item-produit[data-prod="'+idItem+'"]').fadeOut();
                        $('#service-tables tr[data-prod="' + idItem + '"]').fadeOut();
                    }
                });
            });
        });
    });

</script>