<section class="small-section alt-color" style="background-image: url({{ asset('module/spa/images/testimonials_bg.jpg') }});">
    <div class="container">

        <!-- features items -->

        <div class="row">
            <div class="col-md-3 mb-md-30">
                <div class="features-center">

                    <h3 class="features-title font-alt">Body Care</h3>
                    <p>Integer placerat leo eu sollicidin nisl aliquam nucher.</p>
                </div>
            </div>
            <div class="col-md-3 mb-md-30">
                <div class="features-center">

                    <h3 class="features-title font-alt">Hands & Feet</h3>
                    <p>Mauris nec congue sem. Nullam mollis eros dolor, eget.</p>
                </div>
            </div>
            <div class="col-md-3 mb-md-30">
                <div class="features-center">

                    <h3 class="features-title font-alt">Spa Massage</h3>
                    <p>Ut tempor quam ac dolor mattis, et efficitur turpis faucibus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="features-center">

                    <h3 class="features-title font-alt">Face Care</h3>
                    <p>Aenean accumsan varius urna, pellentesque dui lacinia in.</p>
                </div>
            </div>
        </div>

        <!-- /features items -->

    </div>
</section>