<div class="info-box">
    <a class="info-toggle" href="#"><i class="fa fa-info-circle"></i></a>
    <div class="info-content">
        <ul>

            <li><i class="fa fa fa-phone"></i>9930 1234 5679</li>

            <li><i class="fa fa fa-envelope-o"></i>contact@domain.com</li>

            <li><i class="fa fa fa-home"></i>street address example</li>
        </ul>
    </div>
</div>



